@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
}

main {
    background-color: var(--background-color);
}

.name {
    text-align: center;
    font-size: 3.2vw;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: -10px;
    display: inline-block;
    color: var(--text-color);
    animation: fadeIn 2s;
    white-space: nowrap;
}

.occupation {
    text-align: center;
    font-size: 4vh;
    font-style: italic;
    display: block;
    font-family: "Baskervville", serif;
    color: var(--text-color);
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
