.line-1{
    border-bottom: 4px solid var(--text-color);
    border-radius: 100%;
    width: 80%;
    margin: 0 auto;
}

#about {
    font-size: 6vh;
    line-height: 1.4;
    margin-top: 20px;
    text-align: center;
    position: relative;
    top: 6.3em;
    right: 0.05em;
    color: var(--text-color);
    font-family: "Lexend Deca", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

#description {
    font-size: 3vh;
    width: 50%;
    text-align: center;
    margin: 30px auto;
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: var(--text-color);
    position: relative;
    top: 12em;
}


.transition-svg {
    background-color: var(--text-color);
}

.hidden-text {
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s;
}

.line-2 {
    border-bottom: 4px solid var(--text-color);
    border-radius: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 720px;
}

.ponto {
    position: relative;
    top: 1117px;
    color: var(--text-color);
}
