@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Lexend+Deca:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
}

.name {
    text-align: center;
    font-size: 60px;
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: -10px;
    display: inline-block;
    color: var(--text-color);
    animation: fadeIn 2s;
    white-space: nowrap;
}

.occupation {
    text-align: center;
    font-size: 46px;
    font-style: italic;
    display: block;
    font-family: "Baskervville", serif;
    color: var(--text-color);
    animation: fadeIn 3s;
}

nav {
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    max-width: 1100px;
    height: 30px;
    background-color: var(--text-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    box-shadow: 0 4px 6px rgba(247, 247, 247, 0.274);
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
    margin: 0 120px;
}

.menu {
    background-color: var(--text-color);
    z-index: 1000;
    color: var(--background-color);
    display: absolute;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 26px;
    left: 225px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Baskervville", serif;
    font-style: italic;
}

@keyframes fadeIn {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
