:root {
    --background-color: #141414;
    --text-color: #bb3434;
}

.lightmode {
    --background-color: #eeeeee;
    --text-color: #b19725;
}

.button {
    width: 70px;
    height: 35px;
    padding: 0;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-color: var(--text-color);
    cursor: pointer;
    top: 20px;
    left: 20px;
}

.button svg {
    fill: var(--text-color);
}

.button svg:first-child{
    display: none;
}

.lightmode .button svg:last-child{
    display: none;
}

.lightmode .button svg:first-child{
    display: block;
}

.button:hover {
    transform: translateY(-5px)
}
